@media screen and (max-width: 768px) {
  .limitFormContainer {
    width: 100%;
  }

  .orderFormContainer {
    width: 100%;
  }

  .header .navItem {
    flex-grow: 1;
    padding: 0 5px;
    text-align: center;
  }
}

.orderFormContainer {
  /* width: 100%; */
  margin-bottom: 10px;
}

.indexLink {
  display: block;
  text-align: center;
}

.indexLink img {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .brandingWrapper {
    width: 100%;
  }
}
