.limitForm {
  margin-left: 10px;
}

.limitInput {
  min-width: 70px;
}

.limitFormGroup {
  margin-bottom: 0;
}

.limitApplyBtn {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .limitForm {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
