.title {
  transition: height 0.5s ease-in-out;
}

.title.titleOk {
  background-color: white;
}

.title .imageForDesktop {
  margin-right: 1vw;
  position: relative;
  text-align: center;
  width: 10vw;
}

.title .imageForMobile {
  display: none;
  position: relative;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .title .imageForDesktop {
    display: none;
  }

  .title .imageForMobile {
    display: block;
  }
}

.title .mainImage {
  max-width: 100%;
}

.title .miscData {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .title .miscData {
    justify-content: space-between;
    width: 100%;
  }
}

.title .releasedAt {
  margin-right: 1rem;
}

.ratingContainer {
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
}

.rating {
  font-size: 3rem;
  position: absolute;
  text-align: center;
  top: calc(50% - 2rem);
  width: 100%;
}

.title.active .ratingContainer {
  display: initial;
}
